*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-fields {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-fields input {
    padding: 8px;
    margin-right: 5px;
    width: 60px;
  }
  
  .input-fields label {
    margin-right: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .navigation-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .equal-button{
    display: flex;
    justify-content: space-between;
  }

  button:hover {
    background-color: #0056b3;
  }
  